# Visual Studio - Junk și Cache
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Fișiere de bază de date și indexare (din imaginea ta)
*.db
*.sqlite
*.vsdx
*.suo
*.vstreq
*.VC.db
*.VC.opendb

# Layout și Workspace
DocumentLayout.json
VSWorkspaceState.json

# Build logs
*.log
*.tlog
*.lastbuildstate
